<a href="https://colab.research.google.com/github/vaishnaviravikanti/vaishnaviravikanti/blob/main/Exercise2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
%%writefile script9.py
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

Writing script8.py

In [4]:
a, b, c = input("Enter three values: ").split()  
print("Enter Your First Name: ", a)  
print("Enter Your Last Name: ", b)  
print("Enter Your Age: ", c)  
print()

Enter three values: Vaishnavi Ravikanti 21
Enter Your First Name:  Vaishnavi
Enter Your Last Name:  Ravikanti
Enter Your Age:  21

In [5]:
n = int(input("Enter a number: "))
sum = 0
for i in range(n + 1):
  sum += i
print("The sum of all numbers from 1 to the given number is: ", sum)

Enter a number: 22
The sum of all numbers from 1 to the given number is:  253

In [7]:
def Reverse(lst):
	new_lst = lst[::-1]
	return new_lst


lst = [9, 21, 3, 44, 1]
print(Reverse(lst))

[1, 44, 3, 21, 9]

In [8]:


lower_num = int(input (" Enter the Lowest Range num: "))  
upper_num = int(input (" Enter the Upper Range num: "))  
  
print ("The Prime Numbers in the range are: ")  
for number in range (lower_num, upper_num + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number)

 Enter the Lowest Range num: 5
 Enter the Upper Range num: 45
The Prime Numbers in the range are:
5
7
11
13
17
19
23
29
31
37
41
43

In [9]:
num = int(input("Enter a number: "))

factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 8
The factorial of 8 is 40320

In [10]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*