<a href="https://colab.research.google.com/github/vaishnaviravikanti/vaishnaviravikanti/blob/main/Practice(Data_Structures).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#DataStructures
#list
#dict
#tuple
#set

In [ ]:
clear()	Removes all the elements from the dictionary
copy()	Returns a copy of the dictionary
fromkeys()	Returns a dictionary with the specified keys and value
get()	Returns the value of the specified key
items()	Returns a list containing a tuple for each key value pair
keys()	Returns a list containing the dictionary's keys
pop()	Removes the element with the specified key
popitem()	Removes the last inserted key-value pair
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	Updates the dictionary with the specified key-value pairs
values()	Returns a list of all the values in the dictionary

In [1]:
mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [3]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [4]:
print(len(thislist))

5

In [5]:
list1 = ["abc", 34, True, 40, "male"]

In [7]:
print(list1[1])

34

In [8]:
print(list1[-1])

male

In [9]:
print(list1[2:])

[True, 40, 'male']

In [10]:
print(list1[:3])

['abc', 34, True]

In [11]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [12]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [13]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [14]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [17]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [18]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [19]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [20]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [21]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [22]:
thislist.sort()
print(thislist)

['apple', 'banana', 'cherry']

In [23]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [24]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [26]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)
thislist.reverse()

['banana', 'cherry', 'Kiwi', 'Orange']

In [27]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [28]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [30]:
# empty tuple

tpl= ()
tpl

# with values

names = ('steves','rocky','john')
names

('steves', 'rocky', 'john')

In [31]:
tpl = (1,'Hello',2.5)
tpl

(1, 'Hello', 2.5)

In [32]:
tpl = ( "good",[8,6,7],(1,'milan'))
tpl

('good', [8, 5, 9], (1, 'milan'))

In [34]:
tpl = ( "good",[8,6,7],(1,'milan'))
tpl

('good', [8, 6, 7], (1, 'milan'))

In [35]:
tpl[-2]

[8, 6, 7]

In [43]:
tpl =  ('Jay','neha','rock',87,67)
tpl[1:3]
tpl

('Jay', 'neha', 'rock', 87, 67)

In [45]:
tpl = ('Neha','Vish','Nishu','Stephen')
i=0
while i < len(tpl):
  print(tpl[i])
  i = i+1

Neha
Vish
Nishu
Stephen

In [46]:
# convert tuple to list

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [47]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [48]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

In [49]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

In [51]:
thisset.add("orange")
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [52]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'banana', 'cherry', 'mango', 'papaya', 'apple'}

In [53]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [54]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [55]:
set1 = {"p", "q" , "r"}
set2 = {6, 9, 10}

set1.update(set2)
print(set1)

{'q', 'p', 'r', 6, 9, 10}

In [56]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [57]:
print(thisdict["brand"])

Ford

In [58]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [59]:
x = thisdict.get("model")

In [60]:
x

'Mustang'

In [61]:
# adding values

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict["color"] = "red"
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [62]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [63]:
# remove

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.pop("model")
print(dict)

{'brand': 'Ford', 'year': 1964}

In [64]:
for x in thisdict:
  print(x)

brand
model
year

In [65]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
2020

In [66]:
for x in thisdict.keys():
  print(x)

brand
model
year

In [67]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 2020

In [68]:

thisdict = {
  "brand": "Benz",
  "model": "marsidez",
  "year": 1980
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Benz', 'model': 'marsidez', 'year': 1980}

In [69]:
myfamily = {
  "member1" : {
    "name" : "Vadiraj",
    "year" : 1965
  },
  "member2" : {
    "name" : "Tara",
    "year" : 2010
  },
  "member3" : {
    "name" : "Lyra",
    "year" : 2011
  }
}

myfamily

{'member1': {'name': 'Vadiraj', 'year': 1965},
 'member2': {'name': 'Tara', 'year': 2010},
 'member3': {'name': 'Lyra', 'year': 2011}}