<a href="https://colab.research.google.com/github/vaishnaviravikanti/vaishnaviravikanti/blob/main/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 52 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 42.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=fff2de07e9c5f1fd9a91625e97825a7f3892a64ddcc03ffa149572e2c90ed2e1
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
import pyspark

In [ ]:
import pandas as pd
url='https://raw.githubusercontent.com/a-forty-two/DFE6/main/titanic.csv'
type(pd.read_csv(url))

pandas.core.frame.DataFrame

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark=spark.read.csv("test1.csv")

In [ ]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [ ]:
df_pyspark=spark.read.option('header','true').csv("test1.csv")
df_pyspark

DataFrame[Name: string, Age: string, Experience: string, Salary: string]

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

In [ ]:
df_pyspark=spark.read.option('header','true').csv("test1.csv",inferSchema=True)
df_pyspark

DataFrame[Name: string, Age: int, Experience: int, Salary: int]

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
df_pyspark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Vaish| 21|         6| 40000|
| saanvi| 21|         6| 15000|
|   John| 22|        16| 45000|
|michael| 30|        12| 36000|
+-------+---+----------+------+

In [ ]:
df_pyspark=df_pyspark.withColumn("Experience after two years",df_pyspark['Experience']+2)
df_pyspark.show()

+-------+---+----------+------+--------------------------+
|   Name|Age|Experience|Salary|Experience after two years|
+-------+---+----------+------+--------------------------+
|  Vaish| 21|         6| 40000|                         8|
| saanvi| 21|         6| 15000|                         8|
|   John| 22|        16| 45000|                        18|
|michael| 30|        12| 36000|                        14|
+-------+---+----------+------+--------------------------+

In [ ]:
df_pyspark=df_pyspark.drop('Experience after two years')
df_pyspark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Vaish| 21|         6| 40000|
| saanvi| 21|         6| 15000|
|   John| 22|        16| 45000|
|michael| 30|        12| 36000|
+-------+---+----------+------+

In [ ]:
df_pyspark=df_pyspark.withColumnRenamed("Name","FirstName")
df_pyspark.show()

+---------+---+----------+------+
|FirstName|Age|Experience|Salary|
+---------+---+----------+------+
|    Vaish| 21|         6| 40000|
|   saanvi| 21|         6| 15000|
|     John| 22|        16| 45000|
|  michael| 30|        12| 36000|
+---------+---+----------+------+

In [ ]:
df_pyspark.select('FirstName','Age','Salary').show()

+---------+---+------+
|FirstName|Age|Salary|
+---------+---+------+
|    Vaish| 21| 40000|
|   saanvi| 21| 15000|
|     John| 22| 45000|
|  michael| 30| 36000|
+---------+---+------+

In [ ]:
df_pyspark.describe().show()

+-------+---------+-----------------+-----------------+------------------+
|summary|FirstName|              Age|       Experience|            Salary|
+-------+---------+-----------------+-----------------+------------------+
|  count|        4|                4|                4|                 4|
|   mean|     null|             23.5|             10.0|           34000.0|
| stddev|     null|4.358898943540674|4.898979485566356|13190.905958272919|
|    min|     John|               21|                6|             15000|
|    max|   saanvi|               30|               16|             45000|
+-------+---------+-----------------+-----------------+------------------+

In [ ]:
df_py=spark.read.csv("test2.csv")

In [ ]:
df_py=spark.read.option('header','true').csv("test2.csv",inferSchema=True)
df_py

DataFrame[Name: string, Age: int, Experience: int, Salary: int]

In [ ]:
df_py.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| Mahi|  22|         5| 35000|
|Rekha|null|         6| 40000|
| Sush|  20|      null| 50000|
|Mittu|  12|         8| 25000|
| Yshu|  21|        11|  null|
| null|  22|        15| 50000|
|  ABC|  20|        11| 45000|
|  XYZ|  20|        10| 30000|
| Ansh|  22|        12| 52000|
+-----+----+----------+------+

In [ ]:
df_py.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
df_py.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [ ]:
df_py.na.drop().show

In [ ]:
df_py.na.drop(how="any").show()##how = any

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Mahi| 22|         5| 35000|
|Mittu| 12|         8| 25000|
|  ABC| 20|        11| 45000|
|  XYZ| 20|        10| 30000|
| Ansh| 22|        12| 52000|
+-----+---+----------+------+

In [ ]:
df_py.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| Mahi|  22|         5| 35000|
|Rekha|null|         6| 40000|
| Sush|  20|      null| 50000|
|Mittu|  12|         8| 25000|
| Yshu|  21|        11|  null|
| null|  22|        15| 50000|
|  ABC|  20|        11| 45000|
|  XYZ|  20|        10| 30000|
| Ansh|  22|        12| 52000|
+-----+----+----------+------+

In [ ]:
df_py.na.drop(how='any', thresh=3).show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| Mahi|  22|         5| 35000|
|Rekha|null|         6| 40000|
| Sush|  20|      null| 50000|
|Mittu|  12|         8| 25000|
| Yshu|  21|        11|  null|
| null|  22|        15| 50000|
|  ABC|  20|        11| 45000|
|  XYZ|  20|        10| 30000|
| Ansh|  22|        12| 52000|
+-----+----+----------+------+

In [ ]:
df_py.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| Mahi|  22|         5| 35000|
|Rekha|null|         6| 40000|
| Sush|  20|      null| 50000|
|Mittu|  12|         8| 25000|
| Yshu|  21|        11|  null|
| null|  22|        15| 50000|
|  ABC|  20|        11| 45000|
|  XYZ|  20|        10| 30000|
| Ansh|  22|        12| 52000|
+-----+----+----------+------+

In [ ]:
df_py.na.drop(how='any', subset=['age']).show()#subset

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
| Mahi| 22|         5| 35000|
| Sush| 20|      null| 50000|
|Mittu| 12|         8| 25000|
| Yshu| 21|        11|  null|
| null| 22|        15| 50000|
|  ABC| 20|        11| 45000|
|  XYZ| 20|        10| 30000|
| Ansh| 22|        12| 52000|
+-----+---+----------+------+

In [ ]:
dir(df_py)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_collect_as_arrow',
 '_jcols',
 '_jdf',
 '_jmap',
 '_joinAsOf',
 '_jseq',
 '_lazy_rdd',
 '_repr_html_',
 '_sc',
 '_schema',
 '_session',
 '_sort_cols',
 '_sql_ctx',
 '_support_repr_html',
 '_to_corrected_pandas_type',
 'agg',
 'alias',
 'approxQuantile',
 'cache',
 'checkpoint',
 'coalesce',
 'colRegex',
 'collect',
 'columns',
 'corr',
 'count',
 'cov',
 'createGlobalTempView',
 'createOrReplaceGlobalTempView',
 'createOrReplaceTempView',
 'createTempView',
 'crossJoin',
 'crosstab',
 'cube',
 'describe',
 'distinct',
 'drop',
 'dropDuplicates',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'exceptAll',
 'explain',
 'fillna',
 'filter',
 'first',
 'foreach',
 'foreachPartition',
 'freqItems',
 'groupBy',
 'groupby',
 'head',
 'hint',
 'inputFiles',
 'intersect',
 'intersectAll',
 'isEmpty',
 'isLocal',
 'isStreaming',
 'is_cached',
 'join',
 'limit',
 'localCheckpoint',
 'mapInArrow',
 'mapInPandas',
 'na',
 'observe',
 'orderBy',
 'pandas_api',
 'persist',
 'printSchema',
 'randomSplit',
 'rdd',
 'registerTempTable',
 'repartition',
 'repartitionByRange',
 'replace',
 'rollup',
 'sameSemantics',
 'sample',
 'sampleBy',
 'schema',
 'select',
 'selectExpr',
 'semanticHash',
 'show',
 'sort',
 'sortWithinPartitions',
 'sparkSession',
 'sql_ctx',
 'stat',
 'storageLevel',
 'subtract',
 'summary',
 'tail',
 'take',
 'toDF',
 'toJSON',
 'toLocalIterator',
 'toPandas',
 'to_koalas',
 'to_pandas_on_spark',
 'transform',
 'union',
 'unionAll',
 'unionByName',
 'unpersist',
 'where',
 'withColumn',
 'withColumnRenamed',
 'withColumns',
 'withMetadata',
 'withWatermark',
 'write',
 'writeStream',
 'writeTo']

In [ ]:
##Filling the Missing Values
x=df_py.na.fill('Missing Values',['age'])

In [ ]:
x.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| Mahi|  22|         5| 35000|
|Rekha|null|         6| 40000|
| Sush|  20|      null| 50000|
|Mittu|  12|         8| 25000|
| Yshu|  21|        11|  null|
| null|  22|        15| 50000|
|  ABC|  20|        11| 45000|
|  XYZ|  20|        10| 30000|
| Ansh|  22|        12| 52000|
+-----+----+----------+------+

In [ ]:
from pyspark.ml.feature import Imputer

In [ ]:
impute =Imputer(inputCols=['age','Experience','Salary'],
                outputCols=["{}_imputed".format(c) for c in ['age','Experience','Salary'] ]).setStrategy('mean')

In [ ]:
print(impute)

Imputer_f22eae158edb

In [ ]:
x=impute.fit(df_py).transform(df_py)

IllegalArgumentException: ignored

In [ ]:
df_py.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
x.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| Mahi|  22|         5| 35000|
|Rekha|null|         6| 40000|
| Sush|  20|      null| 50000|
|Mittu|  12|         8| 25000|
| Yshu|  21|        11|  null|
| null|  22|        15| 50000|
|  ABC|  20|        11| 45000|
|  XYZ|  20|        10| 30000|
| Ansh|  22|        12| 52000|
+-----+----+----------+------+

In [ ]:
df_py.show()

+-----+----+----------+------+
| Name| Age|Experience|Salary|
+-----+----+----------+------+
| Mahi|  22|         5| 35000|
|Rekha|null|         6| 40000|
| Sush|  20|      null| 50000|
|Mittu|  12|         8| 25000|
| Yshu|  21|        11|  null|
| null|  22|        15| 50000|
|  ABC|  20|        11| 45000|
|  XYZ|  20|        10| 30000|
| Ansh|  22|        12| 52000|
+-----+----+----------+------+

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practice').getOrCreate()
spark

In [ ]:
df_pyspark=spark.read.csv("test1.csv")

In [ ]:
df_pyspark.show()

+-------+---+----------+------+
|    _c0|_c1|       _c2|   _c3|
+-------+---+----------+------+
|   Name|Age|Experience|Salary|
|  Vaish| 21|         6| 40000|
| saanvi| 21|         6| 15000|
|   John| 22|        16| 45000|
|michael| 30|        12| 36000|
+-------+---+----------+------+

In [ ]:
#filter operation
df_pyspark.filter('_c3<=20000').show()

+------+---+---+-----+
|   _c0|_c1|_c2|  _c3|
+------+---+---+-----+
|saanvi| 21|  6|15000|
+------+---+---+-----+

In [ ]:
df_pyspark.filter('_c3<=20000').select(['_c0','_c2']).show()

+------+---+
|   _c0|_c2|
+------+---+
|saanvi|  6|
+------+---+

In [ ]:
df_pyspark.filter(df_pyspark["_c3"]<=20000).show()

+------+---+---+-----+
|   _c0|_c1|_c2|  _c3|
+------+---+---+-----+
|saanvi| 21|  6|15000|
+------+---+---+-----+

In [ ]:
df_pyspark.filter((df_pyspark['_c3']<=20000) & (df_pyspark['_c3']>15000)).show()

+---+---+---+---+
|_c0|_c1|_c2|_c3|
+---+---+---+---+
+---+---+---+---+

In [ ]:
df_pyspark.filter(~(df_pyspark["_c3"]<=20000)).select(['_c0','_c2']).show()

+-------+---+
|    _c0|_c2|
+-------+---+
|  Vaish|  6|
|   John| 16|
|michael| 12|
+-------+---+

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Aggregation').getOrCreate()
spark

In [ ]:
dfspark=spark.read.csv("Test3.csv")
dfspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [ ]:
# GroupBy
# Grouped to find the maximum salary
dfspark.groupby('_c0').sum().show()

+---------+
|      _c0|
+---------+
|Sudhanshu|
|     Name|
|    Sunny|
|    Krish|
|   Mahesh|
+---------+

In [ ]:
dfspark.groupby('_c0').avg().show()

+---------+
|      _c0|
+---------+
|Sudhanshu|
|     Name|
|    Sunny|
|    Krish|
|   Mahesh|
+---------+

In [ ]:
dfspark.groupby('_c0').mean().show()

+---------+
|      _c0|
+---------+
|Sudhanshu|
|     Name|
|    Sunny|
|    Krish|
|   Mahesh|
+---------+

In [ ]:
# Grouping Department which gives maximum salary

dfspark.groupby('_c1').sum().show()

+------------+
|         _c1|
+------------+
|         IOT|
| Departments|
|    Big Data|
|Data Science|
+------------+

In [ ]:
#Preparing the data

data= [('James',"Sales",3000),\
       ('Michael',"Sales", 4600),\
       ("Robert","Sales", 4100),\
       ("Maria","Finance",3000),\
       ("James","Sales",3000),\
       ("Scott","Finance",3900),\
       ("Jen","Finance",3900),\
       ("Jeff","Marketing",3000),\
       ('Kumar',"Marketing",2000),\
       ("Saif","Sales",4100)]

columns=['Employee_Name','Department',"Salary"]
dataframe=spark.createDataFrame(data=data,schema=columns)

In [ ]:
dataframe.printSchema()

root
 |-- Employee_Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: long (nullable = true)

In [ ]:
dataframe.show()

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3900|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [ ]:
dataframe.show(truncate=False)

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3900  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [ ]:
x=dataframe.distinct()
x=dataframe.show(truncate=False)

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3900  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [ ]:
y=dataframe.dropDuplicates()

In [ ]:
y.show(truncate=False)

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|Michael      |Sales     |4600  |
|James        |Sales     |3000  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|Jen          |Finance   |3900  |
|Kumar        |Marketing |2000  |
|Jeff         |Marketing |3000  |
|Saif         |Sales     |4100  |
|Scott        |Finance   |3900  |
+-------------+----------+------+

In [ ]:
z=dataframe.dropDuplicates(["Department","Salary"])

In [ ]:
z.show(truncate=False)

+-------------+----------+------+
|Employee_Name|Department|Salary|
+-------------+----------+------+
|Maria        |Finance   |3000  |
|Scott        |Finance   |3900  |
|Kumar        |Marketing |2000  |
|Jeff         |Marketing |3000  |
|James        |Sales     |3000  |
|Robert       |Sales     |4100  |
|Michael      |Sales     |4600  |
+-------------+----------+------+